img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

#main {
  background-color: azure;
}

.product {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.product-image {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  background-color: white;
}

.product-image img {
  object-fit: contain;
  height: 100%;
}

.product-title {
  font-size: 1.2rem;
  color: #333
}

.product-price {
  font-weight: bold;
  font-size: 1.5rem;
  color: green;
}

/* Tablet screens */
@media screen and (max-width: 840px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile screens */
@media screen and (max-width: 580px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}